* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

ul {
    list-style: none;
}

#footer {
    color: #fff;
    line-height: 1.5;
    background-color: #325c6a;
    width: 1140px;
}

.wraper {
    width: 1040px;
    margin: 0 auto;
}

.inner {
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-size: 18px;
    margin-bottom: 30px;
}

.inner>div:not(:last-child) {
    margin-right: 50px;
}

.about {
    width: 340px;
}

.link {
    width: 340px;
}

.follow {
    width: 260px;
}

.link ul {
    margin-left: 58px;
    list-style: disc;
}


.link ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.link ul li a:hover {
    text-decoration: underline;
}
.follow ul{
    text-align: right;
}

.follow ul li {
    display: inline;
    margin-right: 1px;
}

.follow li a {
    color: #fff;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.follow ul .facebook a,
.follow ul .twitter a {
    background-color: #3498db;
}

.follow ul .google a {
    background-color: #e74c3c;
}

.follow ul .linkedin a {
    background-color: #2c3e50;
}

.follow ul li a:hover {
    background-color: #fff;
    color: #666;
  }

.copyright {
    height: 100px;
    line-height: 100px;
    border-top: solid 1px #4b707c;
    font-size: 15px;
    text-align: center;
}