#header{
    width:100%;
    height: 200px;
    border:solid 1px green;
}
#navigation{
    width:100%;
    height: 80px;
    border: solid 1px green;
}
#content{
    height: 600px;
    border:solid 1px green;
    float: left top;
}
#right_sidebar{
    width:25%;
    height:600px;
    border:solid 1px green;
    float: right
}
#footer{
    width:100%;
    height: 100px;
    margin: center;
    border: solid 1px green;
}