* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.9;
}
a{
    text-decoration: none;
    color: #7f7f7f;
    transition: 0.3s color;
}
a:hover{
    color:#333;
}
.footer{
    display: flex;
    margin: 30px auto;
    width: 1140px;
    justify-content: space-around;
    margin-left: -50px;
}
.item{
    margin-left: 50px;
}
ul li{
    list-style: none;
}
h3{
    margin-bottom: 27px;
}
.footer .contact address{
    font-style:normal;
}